# PostgreSQL Database Connection
DATABASE_URL="postgresql://USERNAME:PASSWORD@HOST:PORT/technema_web_prod?schema=public"

# NextAuth.js Secret
AUTH_SECRET="generate-with-openssl-rand-base64-32"

# NextAuth.js URL
NEXTAUTH_URL="http://localhost:3000"

GOOGLE_SERVICE_ACCOUNT_EMAIL=xxx@xxx.iam.gserviceaccount.com
GOOGLE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----\n"
GA4_PROPERTY_ID=properties/XXXXXXXXX
PAGESPEED_API_KEY=AIza... (opsional)